@import "normalize";
@import "skeleton";

@import "variables";

.headerNav {
  height: 70px;
  border-bottom: 1px solid $grey-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $margin;
  padding-right: $margin;

  ul {
    list-style: none;
    display: flex;
    margin: 0;

    li {
      margin: 0;
      margin-left: $margin;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: $color-text;
  }
  a:hover {
    color: $cyan;
  }
}

.banner {
  height: 400px;
  background-image: url("/images/background.png");
  background-color: $cyan;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white;
  }

  .searchBar {
    input[type=text] {
      width: 300px;
      margin-right: 16px;
    }
  }
}

.searchResults {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: $margin;
  padding-right: $margin;

  .searchCard {
    width: 300px;
    height: 200px;
    margin: 16px;
    padding: 16px;
    border: 1px solid $grey-light;
    cursor: pointer;
    text-decoration: none;
    color: $grey-darkest;

    h2 {
      font-size: 20px;
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 0px;
    }
  }
  .searchCard:hover {
    background-color: $grey-lightest;
  }
}

/* video player */
.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

  /* Thin Displays */
  @media screen and (max-aspect-ratio: 5/4) {
    flex-direction: column;

    .videoPlayer {
        width: 100%;

        video {
          width: 100%;
        }
    }
  }

  /* Thicker Displays */
  @media screen and (min-aspect-ratio: 5/4) {
    flex-direction: column;

    .videoPlayer {
        height: 70vh;
        width: 100%;

        video {
          width: 100%;
          height: 70vh;
        }
    }
  }
}

.container {
  border: 1px solid $grey-light;
  padding: 16px;
}

.skipSection {
  overflow-x: auto;
  display: flex;

  button {
    margin: 8px;
  }
}
